/* CSS Document */
body{
 background:#ffffff;
 font-family:Verdana, Arial, Helvetica, sans-serif;
}

div#space {
 padding:10px 15px 10px 15px;
}

div#topspace {
 padding:0 0 5px 0;
}

.title {
 color: #cc0000;
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
 text-decoration: none;
 font-weight:bold;
 text-align:left;
}


.txt{
 color: #555555;
 font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
 text-decoration: none;
 text-align:justify;
}

.txt a{
 color: #cc0000;
 font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
 text-decoration: none;
}

.txt a:hover{
 color: #cc0000;
 font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
 text-decoration: underline;
}

.borders{
 border-left:#c3c3c3 1px solid;
 border-right:#c3c3c3 1px solid;
}
 